@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

html {

}

body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(180deg, rgba(218, 59, 63, 0) 15.06%, #DA3B3F 100%), linear-gradient(179.29deg, #CF2425 11.93%, rgba(207, 36, 37, 0) 99.39%);
  background-repeat: no-repeat;
  height: 100vh;
}

.menu_line {
  margin-bottom: 4px;
  width: 1.3em;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
}

.menu_line2 {
  margin-bottom: 4px;
  width: 2em;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
}

header > menu {
  border: 1px solid black;
  display: block;
  width: 90vw;
  margin: auto;
}

header > menu > ul {
  list-style-type: none;
}

header > menu > section {
  padding: 15px;
  width: 2.1em;
}


#menu_items {
  display: none;
  padding-top: 10px;
}

header > menu > ul > li > a {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: bolder;
}

main {
  border: 1px solid black;
  width: 90vw;
  margin: auto;
}

main > h1 {
  color: #FFFFFF;
  width: 50vw;
  margin: auto;
  text-align: center;
}

main > picture {
  border: 1px solid black;
  display: block;
  background: url('https://github.com/LCSantis/figma-to-website-coca-cola/blob/main/02-coca-cola/img/background-image.png?raw=true') no-repeat center;
  background-size: contain;
}

#coke-picture {
  display: block;
  margin: auto;
}
