@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(180deg, rgba(218, 59, 63, 0) 15.06%, #DA3B3F 100%), linear-gradient(179.29deg, #CF2425 11.93%, rgba(207, 36, 37, 0) 99.39%);
}

body {
  margin: auto;
  height: 100vh;
  max-width: 768px;
  background: url('https://github.com/LCSantis/figma-to-website-coca-cola/blob/main/02-coca-cola/img/background-image.png?raw=true') no-repeat center;
  background-size: contain;

}

main {
  height:100vh;
  width: 90vw;
  margin: auto;
  background-image: url('https://github.com/LCSantis/figma-to-website-coca-cola/blob/main/02-coca-cola/img/coca-cola.png?raw=true');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

header {
  display: block;
}

#menu {
  border: 1px solid black;
  margin-top: 15px;
}

menu > ul {
  list-style-type: none;
}

menu > ul > li > a {
  display: block;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: #FFFFFF;
}

#title {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  width: 212px;

  position: absolute;
  left: 50%;
  top: 45%;

  transform: translate(-150%);
}
