* {
  margin: 0;
  padding: 0;
}

html {
  background: linear-gradient(180deg, rgba(218, 59, 63, 0) 15.06%, #DA3B3F 100%), linear-gradient(179.29deg, #CF2425 11.93%, rgba(207, 36, 37, 0) 99.39%);
}

body {
  margin: auto;
  height: 100vh;
  max-width: 1000px;
  background: url('https://github.com/LCSantis/figma-to-website-coca-cola/blob/main/02-coca-cola/img/background-image.png?raw=true') no-repeat center;
  background-size: contain;

}

#browse_menu {
  padding-top: 30px;
}

main {
  height:100vh;
  display: flex;
  background-image: url('https://github.com/LCSantis/figma-to-website-coca-cola/blob/main/02-coca-cola/img/coca-cola.png?raw=true');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.menu_line1, .menu_line3 {
  margin-bottom: 4px;
  width: 1.3em;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
}

.menu_line2 {
  margin-bottom: 4px;
  width: 2em;
  border: 1px solid #FFFFFF;
  background-color: #FFFFFF;
}

#title {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  color: #FFFFFF;
  width: 212px;

  margin-top: 45vh;
  margin-left: 30vh;
  position: fixed;

}

.item_list {
  margin-bottom: 5px;
  background-color: #FFFFFF10; 
}

.item_list {
  font: bold 1.3em 'Montserrat', sans-serif;
  color: #FFFFFF;
  list-style: none;
}

.item_list:hover {
  cursor: pointer;
  color: red;
}

.hidden_list {
  display: none;
}

.show_list {
  display: block;
}


